<h1> <%= @person.name %> </h1>

<blockquote>
  age: <%= @person.age %>
  <br/>
  hair: <%= @person.hair_color %>
  <br/>
  eyes: <%= @person.eye_color %>
  <br/>
  gender: <%= @person.gender %>
  <br/>
  alive: <%= @person.alive %>
  <br/>
  pets:
    <div class = 'entry-list'>
      <blockquote>
        <% if @person.pets.any? %>
          <% @person.pets.each do |pet| %>
            <div class = 'entry'>
              <h5>
                <%= link_to pet.name, pet_path(pet) %>
              </h5>
              <i>
                <%= link_to 'Edit', edit_pet_path(pet), class: 'btn btn-outline-primary' %>
                <%= link_to 'Delete', pet_path(pet),
                      method: :delete,
                      data: { confirm: 'Really Delete?'},
                      class: 'btn btn-outline-danger' %>
              </i>
            </div>
          <% end %>

          <% else %>
            none
        <% end %>
      </blockquote>
    </div>
</blockquote>

<%= link_to 'Add Pet', "/pets/new/#{@person.id}", class: 'btn btn-success' %>
<%= link_to 'Edit', edit_person_path, class: 'btn btn-primary' %>
<%= link_to 'Delete', person_path(@person),
      method: :delete,
      data: { confirm: 'Really Delete?'}, class: 'btn btn-danger' %>
<%= link_to 'All People', people_path, class: 'btn btn-primary' %>
